<%- layout('layout') %>
<div class='main'>
  <h1><%= message %></h1>
  <pre class="tree">
.
├── app.js
├── controllers
│   └── index.js
├── package.json
├── public
│   ├── css
│   │   └── application.css
│   ├── favicon.ico
│   ├── imgs
│   │   ├── bahai_temple.jpg
│   │   ├── central_park.JPG
│   │   └── city_night.jpg
│   └── js
│       └── application.js
└── views
    ├── index.ejs
    └── layout.ejs
  </pre>
</div>
