<!DOCTYPE html>
<html>
  <head>
    <title>Node.js Skeleton</title>
    <link rel='stylesheet' href='/css/application.css' />
    <script type="text/javascript" src="/js/application.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
